language: node_js
node_js:
  - "node"
  - "lts/*"
  - "11"
  - "10"
  - "8"
  - "6"
env:
  - EXPRESS_VERSION="4.x"
  - EXPRESS_VERSION=">5.0.0-alpha"
before_script:
  - npm i express@$EXPRESS_VERSION
after_success: npm run coverage
